<div class="setting-view-first">
    <div class="menu" style="padding:10px;height:80px;">
        <ul class="clear">
            <li ng-click="startAddOperator()">
                <span class="fa fa-plus-circle"></span>
                <span>添加用户</span>
            </li>
            <li ng-click="startBatchDelete()">
                <span class="fa fa-trash-o"></span>
                <span>
                   批量删除
                </span>
            </li>
            <li>
                <input type="text" placeholder="请输入用户名" ng-model="searchData.realName">
                <span class="fa fa-search" ng-click="startSearch()"></span>
            </li>
            <li>
                <span ng-click="clearSearch()">清空</span>
            </li>
        </ul>
    </div>
    <div class="table">
        <table>
            <tr class="title">
                <td style="width:5%;">
                    <input type="checkbox" ng-click="chooseAll($event)" ng-model="hasChooseAll">
                </td>
                <td style="width:5%;"></td>
                <td style="width:15%;">用户名</td>
                <td style="width:15%;">角色</td>
                <td colspan="3" style="width:70%;">操作</td>
            </tr>
            <tr ng-repeat="operator in operatorList">
                <td>
                    <input type="checkbox" ng-model="operator.check">
                </td>
                <td>{{operator.index+1}}</td>
                <td>
                    <span>{{operator.realName}}</span>
                </td>
                <td>
                    <span>{{operator.roleName}}</span>
                </td>
                <td class="can-click">
                    <span class="fa fa-pencil-square"></span>
                    <span ng-click="startEditOperator(operator)">编辑</span>
                </td>
                <td class="can-click">
                    <span class="fa fa-trash-o"></span>
                    <span ng-click="startDelete(operator)">删除</span>
                </td>
                <td class="can-click">
                    <span class="fa fa-database"></span>
                    <span ng-click="startBindProject(operator)">绑定项目</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="page-container">
        <uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" first-text="第一页"
            previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true" items-per-page="pagination.aPageNumber"
            ng-change="pageChange()" num-pages="pagination.numPages"></uib-pagination>
        <div class="choose-page">
            <span>
                        跳到第
                    </span>
            <input type="text" ng-model="goToPageData.page">
            <span>页</span>
            <button class="btn btn-primary" ng-click="goToPage()">确定</button>
        </div>
    </div>
</div>