<div>
    <div class="title">
        修改密码
    </div>
    <div class="pwd">
        <span>
            原密码：
        </span>
        <input type="password" ng-model="modifyPasswordData.oldPass">
    </div>
    <div class="pwd">
        <span>
                新密码：
            </span>
        <input type="password" ng-model="modifyPasswordData.newPass">
    </div>
    <div class="button">
        <button class="btn btn-primary" ng-click="certainModifyPassword()">确定</button>
        <button class="btn btn-primary" ng-click="cancelModifyPassword()">取消</button>
    </div>
</div>