$menu-height: 6%;

div.scene-container {
	height: 100%;
	> div.menu {
		background-color: #e6e7e8;
		padding: 5px 0;
		height: $menu-height;
		position: relative;
		> ul {
			margin: 0;
			padding: 0;
			padding-left: 300px;
			list-style: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			> li {
				background-color: #9ed2f0;
				color: #ffffff;
				height: 25px;
				line-height: 25px;
				float: left;
				text-align: center;
				padding: 0px 8px;
				border-right: 1px solid #ffffff;
				position: relative;
				cursor: pointer;
				&.active {
					background-color: #219cea;
				}
				> span.fa {
					position: absolute;
					top: -23px;
					font-size: 35px;
					color: #219cea;
					left: 40%;
					transform: rotate(-180deg);
				}
			}
		}
	}
	> div.detail-third-view {
		height: 100%-$menu-height;
	}
}
