<div class="detail-third">
    <div class="menu">
        <ul class="clear" menu-left>
            <span class="fa fa-caret-down" flag-left></span>
            <li ng-class="{'active':detailThirdMenu == 1}" ng-click="go(1)" ng-if="userHasPermission('人员出勤状况')">
                <span>人员出勤状况</span>
            </li>
            <li ng-class="{'active':detailThirdMenu == 2}" ng-click="go(2)" ng-if="userHasPermission('监管状况')">
                <span> 监管状况</span>
            </li>
            <li ng-class="{'active':detailThirdMenu == 3}" ng-click="go(3)" ng-if="userHasPermission('安全状况')">
                <span>安全状况</span>
            </li>
        </ul>
    </div>
    <div ui-view class="detail-third-view">

    </div>
</div>